@font-face {
    font-family: inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  background-color: hsl(0, 0%, 8%);
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter;
}


#container {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  color: white;
  

}

img {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

h2 {
    margin-bottom: 0;
}

p {
  font-size: 14px;
}

#green {
  color: hsl(75, 94%, 57%);
}

a {
  text-decoration: none;
}

.social-media {
  background-color: hsl(0, 0%, 20%);
  height: 41px;
  width: 300px;
  line-height: 41px;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 7px;
  font-family: inter;
  color: white;
}

.social-media:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  cursor: pointer;
  
}

@media (max-width: 375px) {
  #container {
    padding: 30px 10%;
  }
  .social-media {
    margin-top: 13px;
    height: 45px;
    width: 75vw;
  }

}
